*~
aclocal.m4
.anjuta*
autom4te.cache
config.guess
config.h*
config.log
config.status
config.sub
config.rpath
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
*.anjuta
/data/*.desktop
/data/*.desktop.in
/mime/tabler.xml
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/tabler.pot
/po/stamp-it
